# SD202 TP2 - Normalization and SQL

The objectives of this TP are the following:

1. Apply normalization 1NF -> 2NF -> 3NF -> BCNF
2. Perform SQL queries on the normalized database

In this lab, we are going to use a database containing wine information related to 'production' and 'sales'. 

Production <---> Wine <---> Sales

First, we are going to normalize it, and after that, we are going to write some SQL queries.

The __wine.db__ database contains the following tables:

+-----------------------------------------+
|                 Master1                 |
+-----------------------------------------+
| NV:      Wine number                    |
| CRU:     Vineyard or group of vineyards |
| DEGRE:   Alcohol content                |
| MILL:    Vintage year                   |
| QTE:     Number of bottles harvested    |
| NP:      Producer number                |
| NOM:     Producer's last name           |
| PRENOM:  Producer's first name          |
| REGION:  Wine growing region            |
+-----------------------------------------+

+-------------------------------------------------------------------+
|                              Master2                              |
+-------------------------------------------------------------------+
| NV:      Wine number                                              |
| CRU:     Vineyard or group of vineyards                           |
| DEGRE:   Alcohol content                                          |
| MILL:    Vintage year                                             |
| DATES:   Buying date                                              |
| LIEU:    Place where the wine was sold                            |
| QTE:     Number of bottles bought                                 |
| NB:      Client (buveur) number                                   |
| NON:     Client's last name                                       |
| PRENOM:  Client's first name                                      |
| TYPE:    Type of client by volume of purchases                    |
| REGION:  Administrative Region (different to wine growing region) |
+-------------------------------------------------------------------+

We need to prepare the SQL environment:

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [3]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)          # An usefull way to viualize the content of the database

Database schema:
Buy:
  0: ID_BUY(INTEGER) *1
  1: NB(INTEGER)
  2: NV(INTEGER)
  3: QTE(INTEGER)
  4: LIEU(TEXT)
  5: DATES(DATETIME)
Customer:
  0: ID_CUSTOMER(INTEGER) *1
  1: NB(INTEGER)
  2: NOM(TEXT)
  3: PRENOM(TEXT)
  4: TYPE(TEXT)
  5: REGION(TEXT)
Harvest:
  0: NP(INTEGER)
  1: NV(INTEGER)
  2: QTE(INTEGER)
Location:
  0: LIEU(TEXT) *1
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producer:
  0: NP(INTEGER) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Wine:
  0: NV(INTEGER) *1
  1: CRU(TEXT)
  2: DEGRE(FLOAT)
  3: MILL(INTEGER)
sqlite_sequence:
  0: name()
  1: seq()

We recommend inline __%sql__ as an alternative to sqlite3 package

In [4]:
%load_ext sql
%sql sqlite:///wine.db

u'Connected: None@wine.db'

Now, we can see the content of the tables using SQL queries:

In [5]:
%sql SELECT DISTINCT NOM, PRENOM FROM MASTER1;

Done.

[(u'Six', u'Paul'),
 (u'Marmagne', u'Bernard'),
 (u"Lioger d'Harduy", u'Gabriel'),
 (u'Barbin', u'Bernard'),
 (u'Faiveley', u'Guy'),
 (u'Tramier', u'Jean'),
 (u'Dupaquier', u'Roger'),
 (u'Lamy', u'Jean'),
 (u'Cornu', u'Edmond'),
 (u'Violot', u'Gilbert'),
 (u'Monnier', u'Rene'),
 (u'de Suremain', u'Robert'),
 (u'Prudhon', u'Henri'),
 (u'Mestre', u'Philippe'),
 (u'Prieur', u'Guy'),
 (u'Delagrange Bachelet', None),
 (u'de Suremin', u'Hugues'),
 (u'Juillot', u'Michel'),
 (u'Feyveley', None),
 (u'Thenard', None),
 (u'Flamand', None),
 (u'Guillot', u'Pierre'),
 (u'Simonet', u'Leon'),
 (u'Cooperative', None),
 (u'Desmules', u'Pierre'),
 (u'Joubert', u'Claude'),
 (u'Champier', u'Charles'),
 (u'Champagnon', u'Louis'),
 (u'Tissot', u'Andre'),
 (u'Goy', None),
 (u'Chave', u'Gerard'),
 (u'De Boissieu', None),
 (u'Grippat', u'Jean Louis'),
 (u'Boisson', u'Jean Pierre'),
 (u'Quiot', u'Pierre'),
 (u'Bernard', u'Georges'),
 (u'Verdan', u'Antoine'),
 (u'Coulouvrat', u'Michel'),
 (u'Rabasse Chavarin', u'Abel'),
 (u'Roux', u'Charles'),
 (u'Alary', None),
 (u'Archimbaud', u'Jean'),
 (u'Rey', u'Marcel'),
 (u'Zafiropulo', u'Costa'),
 (u'Prebost', u'Gaston'),
 (u'Gomez', u'Rene'),
 (u'Brunet', u'Georges'),
 (u'Bordonado', u'Raymond'),
 (u'Imbert', u'Christian'),
 (u'Dupuy', u'Charles'),
 (u'Laurent', u'Pierre'),
 (u'Daurat Fort', u'Robert'),
 (u'Baldes', u'Jean'),
 (u'Jouffreau', u'Jean'),
 (u'Brumont', u'Alban'),
 (u'Barrere', u'Alfred'),
 (u'Bohn', u'Rene'),
 (u'Bourguignon', u'Emile'),
 (u'Joudeat', u'Lucien'),
 (u'Fournier', u'Jean Claude'),
 (u'Desbois', u'Maurice'),
 (u'Juillot', u'Maurice'),
 (u'Berard', None),
 (u'Roure', u'Raymond'),
 (None, None),
 (u'Lasnier', u'Pierre'),
 (u'Menand', u'Jean Claude'),
 (u'Michelas', u'Robert'),
 (u'Grivot', u'Jean'),
 (u'Dumazet', u'Marc'),
 (u'Devaux', u'Jean Paul'),
 (u'de Launay', u'Paul'),
 (u'Verset', u'Louis'),
 (u'Genelot', u'Maurice'),
 (u'Chagny', u'Georges'),
 (u'Sauzet', u'Etienne'),
 (u'Dubreuil Fontaine', u'Pierre'),
 (u'Moniot', u'Gilbert'),
 (u'Reverchon', u'Joseph'),
 (u'Vernus', u'Georges'),
 (u'Stentz', u'Fernand'),
 (u'Laleure', None),
 (u'Marsanne', u'Jean'),
 (u'Lapierre', u'Jean'),
 (u'Maire', u'Henri'),
 (u'Mollex', u'Georges'),
 (u'Champet', u'Emile'),
 (u'Boxler', u'Albert'),
 (u'Descombes', u'Jean Ernest'),
 (u'Chalandard', u'Danile'),
 (u'Michlel', u'Pierre Emile'),
 (u'Marius Bel Air', u'Morin'),
 (u'Drouhin', u'Joseph'),
 (u'Jayer', u'Henri'),
 (u'Guillemot', u'Pierre'),
 (u'Jeannin', u'Andre'),
 (u'Tortochot', u'Gabriel'),
 (u'Valentin Bouchotte', u'Roger'),
 (u'Janin', u'Marcel'),
 (u'Trichard', u'Benoit'),
 (u'Metral', u'Jean'),
 (u'Monassier', u'Armand'),
 (u'Glantenay', u'Louis'),
 (u'Savoye', u'Louis'),
 (u'Grand', u'Rene'),
 (u'Petit', u'Gerard'),
 (u'Peltier', u'Pierre'),
 (u'Michon', None),
 (u'Coutelle', u'Jean'),
 (u'Clerget', u'Anne'),
 (u'La Thuilliere', u'Jean'),
 (u'Roulot', u'Guy'),
 (u'Loye', u'Camille'),
 (u'Begot', u'Albert'),
 (u'Meunier', u'Laurent')]

In [6]:
%sql SELECT DISTINCT NV,CRU,DEGRE,MILL,DATES,LIEU,QTE FROM MASTER2 LIMIT 20;

Done.

[(None, None, None, None, None, None, None),
 (1, u'Mercurey', 11.5, 1980, u'1977-11-02', u'BORDEAUX', 33),
 (1, u'Mercurey', 11.5, 1980, u'2015-10-16', u'PARIS', 1),
 (1, u'Mercurey', 11.5, 1980, u'1983-12-31', u'RENNES', 1),
 (2, u'Julienas', 11.3, 1974, u'1983-12-25', u'LYON', 2),
 (3, u'Savigny les Beaunes', 12.1, 1978, u'1978-11-01', u'NICE', 6),
 (3, u'Savigny les Beaunes', 12.1, 1978, u'1987-12-24', u'MERCUREY', 5),
 (4, u'Mercurey', 10.9, 1980, u'1982-11-05', u'TOULOUSE', 12),
 (4, u'Mercurey', 10.9, 1980, u'2015-10-16', u'PARIS', 6),
 (4, u'Mercurey', 10.9, 1980, u'1981-06-29', u'SENS', 4),
 (5, u'Pommard', 11.7, 1976, u'1984-11-04', u'MERCUREY', 50),
 (5, u'Pommard', 11.7, 1976, u'1983-06-29', u'LILLE', 5),
 (6, u'Mercurey', 11.2, 1981, u'1978-01-21', u'NANCY', 36),
 (7, u'Grands Echezeaux', 11.7, 1968, u'1987-09-19', u'PARIS', 24),
 (7, u'Grands Echezeaux', 11.7, 1968, u'1987-04-28', u'CANNES', 7),
 (8, u'Cotes de Beaune Villages', 12.3, 1975, u'1982-09-15', u'PARIS', 78),
 (8, u'Cotes de Beaune Villages', 12.3, 1975, u'1979-11-01', u'LILLE', 10),
 (8, u'Cotes de Beaune Villages', 12.3, 1975, u'1980-05-12', u'TOULON', 8),
 (9, u'Chapelle Chambertin', 11.9, 1973, u'1982-03-26', u'LYON', 20),
 (9, u'Chapelle Chambertin', 11.9, 1973, u'1979-05-12', u'LILLE', 1)]

# PART I: Database normalization

The first task on this TP is the normalization of the wine data. In its current state both tables Master1 and Master2 are in the First Normal Form (1NF) and suffer from data redundancy, update, deletion and insertion anomalies.

__1.1__ Convert table Master1 to the Second Normal Form (2NF), Third Normal Form (3NF) and Boyce-Codd Normal Form(BCNF).
* Explain your answer
* List functional dependencies
* Describe the schema of new tables and how they relate

ANSWER:
- The Master1 Table contains information about producers, wine and how many bottles where harvest by each producer.
To fit the 2NF, 3NF and BCNF. We should make 3 tables for each.
- The table Producers will contain (NP, NOM, PRENOM, REGION)
- The table Wine will contain (NV, CRU, DEGRE, MILL)
- The table Harvest will contain (ID_HARV, NP, NV, QTE)
As we can see, NP and NV are the primary keys of Producers and Wine, and are related to the table Harvest. Where they are foreign keys

Concerning functional dependencies:
In the table Producers we have: NP->{PRENOM, NOM, REGION}<br/>
In the table Wine we have: NV -> {CRU, MILL, DEGRE}<br/>
In the table Harvest we have: {NV, NP} -> QTE<br/>
A good practice could be to set a primary key for the table harvest.

__1.2__ Convert table Master2 to the Second Normal Form (2NF), Third Normal Form (3NF) and Boyce-Codd Normal Form(BCNF).
* Explain your answer
* List functional dependencies
* Describe the schema of new tables and how they relate

ANSWER:
- The Master2 Table contains information about customer, wine and how many bottles where buyed by each customer.
To fit the 2NF, 3NF and BCNF. We should make 3 tables for each.
- The table Customer will contain (NB, NOM, PRENOM, TYPE, REGION)
- The table Wine will contain (NV, CRU, DEGRE, MILL) (same as the Master1
- The table Buy will contain (ID_BUY, NB, NV, QTE, LIEU, DATES)
As we can see, NB and NV are the primary keys of Customer and Wine, and are related to the table Buy. Where they are foreign keys

Concerning functional dependencies:
In the table Customer we have: NB->{PRENOM, NOM, REGION, TYPE}<br/>
In the table Wine we have: NV -> {CRU, MILL, DEGRE}<br/>
In the table Buy we have: {NB, NV} -> {QTE, LIEU, DATES}<br/>
A good practice could be to set a primary key for the table Buy.

Now, we need to split the data from Master1 and Master2 into new tables. A table can be created from the result of a query. In the following example we will create a new table "dummy" to store the different values of alcohol content.

In [7]:
%sql DROP TABLE IF EXISTS dummy;

# Create dummy table
%sql CREATE TABLE dummy AS \
SELECT DISTINCT DEGRE \
FROM MASTER1;

print("\nContent of the database")
printSchema(conn)

print("\nContent of dummy")
%sql SELECT * FROM dummy

Done.
Done.

Content of the database
Buy:
  0: ID_BUY(INTEGER) *1
  1: NB(INTEGER)
  2: NV(INTEGER)
  3: QTE(INTEGER)
  4: LIEU(TEXT)
  5: DATES(DATETIME)
Customer:
  0: ID_CUSTOMER(INTEGER) *1
  1: NB(INTEGER)
  2: NOM(TEXT)
  3: PRENOM(TEXT)
  4: TYPE(TEXT)
  5: REGION(TEXT)
Harvest:
  0: NP(INTEGER)
  1: NV(INTEGER)
  2: QTE(INTEGER)
Location:
  0: LIEU(TEXT) *1
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producer:
  0: NP(INTEGER) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Wine:
  0: NV(INTEGER) *1
  1: CRU(TEXT)
  2: DEGRE(FLOAT)
  3: MILL(INTEGER)
dummy:
  0: DEGRE(NUM)
sqlite_sequence:
  0: name()
  1: seq()

Content of dummy
Done.

[(None,),
 (11.5,),
 (11.3,),
 (12.1,),
 (10.9,),
 (11.7,),
 (11.2,),
 (12.3,),
 (11.9,),
 (11.8,),
 (10.7,),
 (11.4,),
 (10.5,),
 (11,),
 (11.6,),
 (12,),
 (10,),
 (12.5,),
 (10.8,),
 (14,),
 (11.1,),
 (13,)]

In [8]:
# Remove dummy table
%sql DROP TABLE IF EXISTS dummy;

Done.

[]

__1.3__ Create the new tables from Master1:

In [9]:
# Write corresponding code here
%sql DROP TABLE IF EXISTS Producer;
%sql CREATE TABLE Producer( \
    NP INTEGER PRIMARY KEY, \
    NOM TEXT, \
    PRENOM TEXT, \
    REGION TEXT\
);
%sql INSERT INTO Producer SELECT DISTINCT NP, NOM, PRENOM, REGION FROM MASTER1 WHERE NP NOT NULL;
%sql SELECT * FROM Producer LIMIT 20;

Done.
Done.
124 rows affected.
Done.

[(1, u'Bohn', u'Rene', u'Alsace'),
 (2, u'Boxler', u'Albert', u'Alsace'),
 (3, u'Six', u'Paul', u'Alsace'),
 (4, u'Stentz', u'Fernand', u'Alsace'),
 (5, u'Joudeat', u'Lucien', u'Bourgogne'),
 (6, u'Marmagne', u'Bernard', u'Bourgogne'),
 (7, u'Lasnier', u'Pierre', u'Bourgogne'),
 (8, u"Lioger d'Harduy", u'Gabriel', u'Bourgogne'),
 (9, u'Moniot', u'Gilbert', u'Bourgogne'),
 (10, u'Fournier', u'Jean Claude', u'Bourgogne'),
 (11, u'Clerget', u'Anne', u'Bourgogne'),
 (12, u'Tortochot', u'Gabriel', u'Bourgogne'),
 (13, u'Grivot', u'Jean', u'Bourgogne'),
 (14, u'Jayer', u'Henri', u'Bourgogne'),
 (15, u'Drouhin', u'Joseph', u'Bourgogne'),
 (16, u'Barbin', u'Bernard', u'Bourgogne'),
 (17, u'Faiveley', u'Guy', u'Bourgogne'),
 (18, u'Tramier', u'Jean', u'Bourgogne'),
 (19, u'Dupaquier', u'Roger', u'Bourgogne'),
 (20, u'Lamy', u'Jean', u'Bourgogne')]

In [10]:
# Write corresponding code here
%sql DROP TABLE IF EXISTS Wine;
%sql CREATE TABLE Wine( \
    NV INTEGER PRIMARY KEY, \
    CRU TEXT, \
    DEGRE FLOAT, \
    MILL INTEGER \
);
%sql INSERT INTO Wine SELECT DISTINCT NV, CRU, DEGRE, MILL FROM Master1 WHERE NV NOT NULL;
%sql SELECT * FROM Wine LIMIT 20;

Done.
Done.
102 rows affected.
Done.

[(1, u'Mercurey', 11.5, 1980),
 (2, u'Julienas', 11.3, 1974),
 (3, u'Savigny les Beaunes', 12.1, 1978),
 (4, u'Mercurey', 10.9, 1980),
 (5, u'Pommard', 11.7, 1976),
 (6, u'Mercurey', 11.2, 1981),
 (7, u'Grands Echezeaux', 11.7, 1968),
 (8, u'Cotes de Beaune Villages', 12.3, 1975),
 (9, u'Chapelle Chambertin', 11.9, 1973),
 (10, u'Beaujolais Villages', 11.8, 1979),
 (11, u'Sylvaner', 11.2, 1982),
 (12, u'Gentil', 10.7, 1975),
 (13, u'Cotes du Rhone', 12.3, 1968),
 (14, u'Chateau Chalon', 10.9, 1978),
 (15, u'Cote de Brouilly', 11.9, 1973),
 (16, u'Meursault', 12.1, 1980),
 (17, u'Meursault', 11.4, 1975),
 (18, u'Chambolle Musigny', 12.3, 1968),
 (19, u'Clos du roi', 11.2, 1972),
 (20, u'Cote de Brouilly', 12.1, 1980)]

In [11]:
# Write corresponding code here

%sql DROP TABLE IF EXISTS Harvest;
%sql CREATE TABLE Harvest( \
    NP INTEGER, \
    NV INTEGER, \
    QTE INTEGER, \
    FOREIGN KEY(NP) REFERENCES Producer(NP), \
    FOREIGN KEY(NV) REFERENCES Wine(NV) \
);
%sql INSERT INTO Harvest SELECT DISTINCT NP, NV, QTE FROM Master1 WHERE NV AND NP NOT NULL;
%sql SELECT * FROM Harvest LIMIT 20;

Done.
Done.
140 rows affected.
Done.

[(1, 1, 300),
 (73, 1, 1),
 (5, 2, 100),
 (1, 3, 400),
 (10, 4, 35),
 (30, 5, 46),
 (42, 6, 300),
 (98, 7, 60),
 (90, 8, 12),
 (98, 10, 100),
 (5, 11, 200),
 (7, 12, 31),
 (43, 12, 200),
 (89, 12, 310),
 (13, 13, 13),
 (86, 14, 180),
 (80, 15, 290),
 (38, 16, 100),
 (95, 17, 50),
 (40, 18, 120)]

__1.4__ Create the new tables from Master2:

In [12]:
%%sql
DROP TABLE IF EXISTS Location;
CREATE TABLE Location(
    LIEU TEXT PRIMARY KEY,
    REGION TEXT
);
INSERT INTO Location SELECT DISTINCT LIEU, REGION FROM Master2 WHERE LIEU NOT NULL;
SELECT * FROM Location LIMIT 20;

Done.
Done.
18 rows affected.
Done.

[(u'BORDEAUX', u' NOUVELLE-AQUITAINE'),
 (u'PARIS', u' \xceLE-DE-FRANCE'),
 (u'RENNES', u' BRETAGNE'),
 (u'LYON', u'  AUVERGNE-RH\xd4NE-ALPES'),
 (u'NICE', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (u'MERCUREY', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (u'TOULOUSE', u' OCCITANIE'),
 (u'SENS', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (u'LILLE', u' HAUTS-DE-FRANCE'),
 (u'NANCY', u' GRAND EST'),
 (u'CANNES', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (u'TOULON', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (u'CHALON SUR SAONE', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (u'ROCQUENCOURT', u' \xceLE-DE-FRANCE'),
 (u'PARLY', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (u'LE CHESNAY', u' \xceLE-DE-FRANCE'),
 (u'CAEN', u' NORMANDIE'),
 (u'DIJON', u' BOURGOGNE-FRANCHE-COMT\xc9')]

In [13]:
%%sql
DROP TABLE IF EXISTS Customer;
CREATE TABLE Customer(
    ID_CUSTOMER INTEGER PRIMARY KEY AUTOINCREMENT,
    NB INTEGER,
    NOM TEXT,
    PRENOM TEXT,
    TYPE TEXT,
    REGION TEXT,
    FOREIGN KEY(REGION) REFERENCES Location(REGION)
);
INSERT INTO Customer (NB, NOM, PRENOM, TYPE, REGION) SELECT DISTINCT NB, NOM, PRENOM, TYPE, REGION FROM Master2;
SELECT * FROM Customer ORDER BY NB;

Done.
Done.
109 rows affected.
Done.

[(78, None, None, None, None, None),
 (71, 1, u'Aristote', None, u'petit', u' \xceLE-DE-FRANCE'),
 (58, 2, u'Artaud', u'Antonin', u'moyen', u' NOUVELLE-AQUITAINE'),
 (66, 2, u'Artaud', u'Antonin', u'moyen', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (68, 3, u'Aron', u'Raymond', u'gros', u' GRAND EST'),
 (77, 3, u'Aron', u'Raymond', u'gros', u' NOUVELLE-AQUITAINE'),
 (105, 3, u'Aron', u'Raymond', u'gros', u' \xceLE-DE-FRANCE'),
 (69, 4, u'Apollinaire', u'Guillaume', u'moyen', u' \xceLE-DE-FRANCE'),
 (74, 5, u'Audiberti', u'Jacques', u'petit', u'  AUVERGNE-RH\xd4NE-ALPES'),
 (103, 5, u'Audiberti', u'Jacques', u'petit', u' \xceLE-DE-FRANCE'),
 (107, 5, u'Audiberti', u'Jacques', u'petit', u' NORMANDIE'),
 (79, 6, u'Arrabal', u'Fernando', u'gros', u' OCCITANIE'),
 (62, 7, u'Anouilh', u'Jean', u'moyen', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (64, 8, u'Aragon', u'Louis', u'gros', u' OCCITANIE'),
 (101, 8, u'Aragon', u'Louis', u'gros', u' \xceLE-DE-FRANCE'),
 (72, 9, u'Ajar', u'Emile', u'petit', u' HAUTS-DE-FRANCE'),
 (102, 9, u'Ajar', u'Emile', u'petit', u' \xceLE-DE-FRANCE'),
 (75, 10, u'Andersen', u'Yann', u'gros', u' HAUTS-DE-FRANCE'),
 (1, 11, u'Breton', u'Andre', u'petit', None),
 (90, 12, u'Bataille', u'Georges', u'moyen', u' NORMANDIE'),
 (100, 12, u'Bataille', u'Georges', u'moyen', u' \xceLE-DE-FRANCE'),
 (2, 13, u'Barthes', u'Roland', u'moyen', None),
 (91, 14, u'Bory', u'Jean Louis', u'gros', u' NORMANDIE'),
 (92, 15, u'Baudelaire', u'Charles', u'petit', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (3, 16, u'Balzac', u'Honore de', u'moyen', None),
 (93, 17, u'Camus', u'Albert', u'petit', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (4, 18, u'Celine', u'Louis Ferdinand', u'gros', None),
 (94, 19, u'Ciceron', None, u'gros', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (5, 20, u'Chateaubriand', u'Francois-Rene de', u'moyen', None),
 (6, 21, u'Corbiere', u'Tristan', u'petit', None),
 (87, 22, u'Cocteau', u'Jean', u'gros', u' \xceLE-DE-FRANCE'),
 (7, 23, u'Corneille', u'Pierre', u'petit', None),
 (88, 24, u'Courrier', u'Paul Louis', u'moyen', u' \xceLE-DE-FRANCE'),
 (8, 25, u'Char', u'Rene', u'petit', None),
 (85, 26, u'Diderot', u'Denis', u'moyen', u'  AUVERGNE-RH\xd4NE-ALPES'),
 (9, 27, u'Dumas', u'Alexandre', u'gros', None),
 (86, 28, u'Dostoievsky', u'Fiodor', u'gros', u'  AUVERGNE-RH\xd4NE-ALPES'),
 (10, 29, u'Fournier', u'Alain', u'petit', None),
 (89, 30, u'La Fontaine', u'Jean de', u'petit', u'  AUVERGNE-RH\xd4NE-ALPES'),
 (97, 31, u'Dante', None, u'gros', u' OCCITANIE'),
 (11, 32, u'Eluard', u'Paul', u'moyen', None),
 (95, 33, u'Flaubert', u'Gustave', u'moyen', u' OCCITANIE'),
 (12, 34, u'Mauriac', u'Francois', u'petit', None),
 (13, 35, u'Fromentin', u'Eugene', u'gros', None),
 (14, 36, u'Maurois', u'Andre', u'petit', None),
 (15, 37, u'Freud', u'Sigmund', u'petit', None),
 (99, 38, u'Montaigne', u'Michel de', u'petit', u' \xceLE-DE-FRANCE'),
 (16, 39, u'Montesquieu', None, u'gros', None),
 (108, 40, u'Moliere', None, u'petit', u' GRAND EST'),
 (109, 41, u'Gauthier', u'Theophile', u'petit', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (17, 42, u'Goethe', u'Johann Wolfgang von', u'moyen', None),
 (18, 43, u'Musset', u'Alfred de', u'gros', None),
 (59, 44, u'Gide', u'Andre', u'petit', u' \xceLE-DE-FRANCE'),
 (60, 45, u'Giono', u'Jean', u'petit', u' BRETAGNE'),
 (19, 46, u'Hugo', u'Victor', u'moyen', None),
 (20, 47, u'Gary', u'Romain', u'petit', None),
 (61, 48, u'Hardy', u'Thomas', u'moyen', u'  AUVERGNE-RH\xd4NE-ALPES'),
 (63, 49, u'Kafka', u'Franz', u'petit', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (65, 50, u'Lautreamont', None, u'moyen', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (21, 51, u'Lafargue', u'Paul', u'petit', None),
 (67, 52, u'Carroll', u'Lewis', u'petit', u' HAUTS-DE-FRANCE'),
 (22, 53, u'Lamartine', u'Alphonse de', u'gros', None),
 (23, 54, u'Aurele', u'Marc', u'petit', None),
 (24, 55, u'Michelet', u'Jules', u'gros', None),
 (25, 56, u'Nerval', u'Gerard de', u'petit', None),
 (26, 57, u'Marx', u'Karl', u'gros', None),
 (70, 58, u'Marivaux', u'Pierre Carlet de Chamblain de', u'gros', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (27, 59, u'Nietzsche', u'Friedrich', u'petit', None),
 (73, 60, u'Ovide', None, u'gros', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (76, 61, u'Mallarme', u'Stephane', u'petit', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (80, 62, u'Proust', u'Marcel', u'moyen', u" PROVENCE-ALPES-C\xd4TE D'AZUR"),
 (28, 63, u'Maupassant', u'Guy de', u'petit', None),
 (29, 64, u'Platon', None, u'gros', None),
 (30, 65, u'Pascal', u'Blaise', u'petit', None),
 (31, 66, u'Perec', u'Georges', u'gros', None),
 (32, 67, u'Nin', u'Anais', u'petit', None),
 (33, 68, u'Prevert', u'Jacques', u'gros', None),
 (34, 69, u'Queneau', u'Raymond', u'petit', None),
 (35, 70, u'Paulhan', u'Jean', u'gros', None),
 (36, 71, u'Radiguet', u'Raymond', u'petit', None),
 (37, 72, u'Rabelais', u'Francois', u'gros', None),
 (38, 73, u'Poe', u'Allan Edgard', u'moyen', None),
 (39, 74, u'Rimbaud', u'Arthur', u'petit', None),
 (81, 75, u'Ronsard', u'Pierre', u'moyen', u' \xceLE-DE-FRANCE'),
 (40, 76, u'Racine', u'Jean', u'gros', None),
 (41, 77, u'Rousseau', u'Jean-Jacques', u'petit', None),
 (42, 78, u'Sandier', u'Jules', u'moyen', None),
 (43, 79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros', None),
 (82, 80, u'Sand', u'Georges', u'petit', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (44, 81, u'Sartre', u'Jean-Paul', u'gros', None),
 (83, 82, u'Roussel', u'Rene', u'petit', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (45, 83, u'Sophocle', None, u'gros', None),
 (46, 84, u'Sue', u'Eugene', u'moyen', None),
 (47, 85, u'Segalen', u'Victor', u'petit', None),
 (48, 86, u'Saint Exupery', u'Antoine de', u'gros', None),
 (49, 87, u'Segur', u'Comtesse de', u'gros', None),
 (50, 88, u'Shakespeare', u'William', u'petit', None),
 (51, 89, u'Stendhal', None, u'petit', None),
 (52, 90, u'Vian', u'Boris', u'petit', None),
 (53, 91, u'Verlaine', u'Paul', u'gros', None),
 (96, 92, u'Verne', u'Jules', u'petit', u' \xceLE-DE-FRANCE'),
 (54, 93, u'Virgile', None, u'gros', None),
 (98, 94, u'Zola', u'Emile', u'moyen', u' BOURGOGNE-FRANCHE-COMT\xc9'),
 (55, 95, u'Zorn', u'Fritz', u'moyen', None),
 (104, 96, u'Wilde', u'Oscar', u'petit', u' \xceLE-DE-FRANCE'),
 (106, 97, u'Vigny', u'Alfred de', u'petit', u' \xceLE-DE-FRANCE'),
 (56, 98, u'Maturin', u'Robert', u'gros', None),
 (57, 99, u'Cesar', u'Jules', u'gros', None),
 (84, 100, u'Woolf', u'Virginia', u'petit', u' \xceLE-DE-FRANCE')]

In [14]:
%%sql
DROP TABLE IF EXISTS Buy;
CREATE TABLE Buy(
    ID_BUY INTEGER PRIMARY KEY AUTOINCREMENT,
    NB INTEGER,
    NV INTEGER,
    QTE INTEGER,
    LIEU TEXT,
    DATES DATETIME,
    FOREIGN KEY(NB) REFERENCES Customer(NB),
    FOREIGN KEY(LIEU) REFERENCES Location(LIEU),
    FOREIGN KEY(NV) REFERENCES Wine(NV)
);
INSERT INTO Buy (NB, NV, QTE, LIEU, DATES) SELECT DISTINCT NB, NV, QTE, LIEU, DATES FROM Master2;
SELECT * FROM Buy ORDER BY NB LIMIT 20;

Done.
Done.
185 rows affected.
Done.

[(81, None, 11, None, None, None),
 (83, None, 13, None, None, None),
 (84, None, 14, None, None, None),
 (85, None, 15, None, None, None),
 (87, None, 17, None, None, None),
 (88, None, 18, None, None, None),
 (89, None, 19, None, None, None),
 (97, None, 25, None, None, None),
 (99, None, 27, None, None, None),
 (101, None, 29, None, None, None),
 (102, None, 30, None, None, None),
 (107, None, 33, None, None, None),
 (108, None, 34, None, None, None),
 (110, None, 36, None, None, None),
 (111, None, 37, None, None, None),
 (114, None, 39, None, None, None),
 (125, None, 44, None, None, None),
 (126, None, 45, None, None, None),
 (127, None, 46, None, None, None),
 (128, None, 47, None, None, None)]

In [15]:
printSchema(conn)

Buy:
  0: ID_BUY(INTEGER) *1
  1: NB(INTEGER)
  2: NV(INTEGER)
  3: QTE(INTEGER)
  4: LIEU(TEXT)
  5: DATES(DATETIME)
Customer:
  0: ID_CUSTOMER(INTEGER) *1
  1: NB(INTEGER)
  2: NOM(TEXT)
  3: PRENOM(TEXT)
  4: TYPE(TEXT)
  5: REGION(TEXT)
Harvest:
  0: NP(INTEGER)
  1: NV(INTEGER)
  2: QTE(INTEGER)
Location:
  0: LIEU(TEXT) *1
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producer:
  0: NP(INTEGER) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Wine:
  0: NV(INTEGER) *1
  1: CRU(TEXT)
  2: DEGRE(FLOAT)
  3: MILL(INTEGER)
sqlite_sequence:
  0: name()
  1: seq()

# PART II: SQL QUERIES

In the second part of this TP you will create SQL queries to retrieve information from the database.

__2.1__ What are the different types of clients (buveurs) by volume of purchases?

In [66]:
%%sql
SELECT DISTINCT TYPE FROM Customer
WHERE TYPE IS NOT NULL;

Done.

[(u'petit',), (u'moyen',), (u'gros',)]

__2.2__ What regions produce Pommard or Brouilly?

In [17]:
%%sql
SELECT p.REGION, w.CRU FROM Producer p
INNER JOIN Harvest h ON p.NP = h.NP
INNER JOIN Wine w ON h.NV = w.NV
WHERE w.cru="Pommard" OR w.cru="Brouilly"

Done.

[(u'Bourgogne', u'Pommard'),
 (u'Rhone', u'Pommard'),
 (u'Bourgogne', u'Brouilly')]

__2.3__ What regions produce Pommard and Brouilly?

In [18]:
%%sql
SELECT p.REGION FROM Producer p
INNER JOIN Harvest h ON p.NP = h.NP
INNER JOIN Wine w ON h.NV = w.NV
WHERE w.cru="Pommard" OR w.cru="Brouilly"
GROUP BY p.REGION HAVING COUNT (*) > 1

Done.

[(u'Bourgogne',)]

__2.4__ Get the number of wines bught by CRU and Millsime

In [19]:
%%sql
SELECT SUM(b.QTE) AS QTE, w.CRU, w.MILL FROM Buy b
INNER JOIN Wine w ON w.NV = b.NV
GROUP BY w.MILL, w.CRU 
ORDER BY CRU;

Done.

[(None, u'Arbois', 1976),
 (8, u'Arbois', 1980),
 (80, u'Auxey Duresses', 1914),
 (7, u'Beaujolais Primeur', 1983),
 (10, u'Beaujolais Villages', 1975),
 (120, u'Beaujolais Villages', 1976),
 (130, u'Beaujolais Villages', 1978),
 (520, u'Beaujolais Villages', 1979),
 (None, u'Bellet', 1976),
 (None, u'Blanquette de Limoux', 1978),
 (None, u'Bourgogne Passe Tout Grains', 1979),
 (None, u'Brouilly', 1975),
 (None, u'Cassis', 1978),
 (None, u'Cassis', 1979),
 (None, u'Chambolle Musigny', 1968),
 (None, u'Chapelle Chambertin', 1968),
 (30, u'Chapelle Chambertin', 1973),
 (None, u'Chateau Chalon', 1976),
 (None, u'Chateau Chalon', 1978),
 (4, u'Chateau Corton Grancey', 1980),
 (None, u'Chenas', 1975),
 (1, u'Chenas', 1984),
 (None, u'Chiroubles', 1978),
 (None, u'Chiroubles', 1983),
 (None, u'Chorey les Beaunes', 1955),
 (5, u'Clairette de Die', 1976),
 (None, u'Clos du roi', 1972),
 (None, u'Corbieres', 1978),
 (25, u'Cornas', 1980),
 (None, u'Corton', 1972),
 (None, u'Cote Rotie', 1994),
 (None, u'Cote de Brouilly', 1899),
 (None, u'Cote de Brouilly', 1973),
 (23, u'Cote de Brouilly', 1980),
 (None, u'Coteaux de Pierevert', 1967),
 (1, u'Coteaux du Tricastin', 1974),
 (12, u'Coteaux du Tricastin', 1978),
 (14, u'Cotes de Beaune Villages', 1971),
 (96, u'Cotes de Beaune Villages', 1975),
 (21, u'Cotes de Nuits', 1978),
 (None, u'Cotes de Provence', 1969),
 (None, u'Cotes de Provence', 1976),
 (18, u'Cotes de Provence', 1980),
 (None, u'Cotes du Rhone', 1968),
 (None, u'Cotes du Rousillon', 1978),
 (None, u'Crozes - Hermitage', 1972),
 (None, u'Crozes Hermitage', 1974),
 (None, u'Crozes Hermitage', 1975),
 (None, u'Crozes-Hermitage', 1983),
 (None, u'Etoile', 1979),
 (9, u'Etoile', 1980),
 (7, u'Fleurie', 1980),
 (36, u'Gentil', 1975),
 (None, u'Gewurztraminer', 1968),
 (5, u'Gigondas', 1978),
 (31, u'Grands Echezeaux', 1968),
 (None, u'Hermitage', 1979),
 (2, u'Julienas', 1974),
 (57, u'Mercurey', 1980),
 (36, u'Mercurey', 1981),
 (None, u'Meursault', 1975),
 (2, u'Meursault', 1980),
 (None, u'Montagny', 1978),
 (106, u'Monthelie', 1968),
 (None, u'Morgon', 1984),
 (None, u'Moulin a vent', 1983),
 (None, u'Palette', 1969),
 (None, u'Palette', 1981),
 (23, u'Pommard', 1972),
 (55, u'Pommard', 1976),
 (10, u'Pouilly Vinzelles', 1968),
 (None, u'Puligny Montrachet', 1974),
 (15, u'Rasteau', 1980),
 (72, u'Richebourg', 1943),
 (None, u'Riesling', 1962),
 (None, u'Rochgrande', 1968),
 (80, u'Saint Amour', 1974),
 (14, u'Saint Amour', 1980),
 (None, u'Saint Chinian', 1976),
 (None, u'Saint Veran', 1973),
 (None, u'Sancerre', 1998),
 (None, u'Santenay', 1972),
 (None, u'Savigny les Beaunes', 1973),
 (44, u'Savigny les Beaunes', 1974),
 (7, u'Savigny les Beaunes', 1977),
 (11, u'Savigny les Beaunes', 1978),
 (24, u'Seyssel', 1974),
 (21, u'Seyssel', 1980),
 (None, u'Sylvaner', 1982),
 (None, u'Tavel', 1968),
 (33, u'Tavel', 1980),
 (None, u"Tokay d'Alsace", 1982),
 (5, u'Volnay', 1980)]

__2.5__ Retrieve the wine number (NV) of wines produced by more than three producers

In [23]:
%%sql
SELECT w.NV, w.cru, COUNT(p.NP) AS numberf_of_producers FROM Producer p
INNER JOIN Harvest h ON p.NP = h.NP
INNER JOIN Wine w ON h.NV = w.NV
GROUP BY h.NV HAVING COUNT (p.NP) > 3

Done.

[(45, u'Chiroubles', 5),
 (78, u'Etoile', 5),
 (89, u'Cotes de Provence', 4),
 (98, u'Corbieres', 5)]

__2.6__ Which producers have not produced any wine?

In [25]:
%%sql
SELECT NP, NBP, NOM FROM (SELECT DISTINCT Producer.NP, Producer.NOM, SUM(Harvest.QTE) AS NBP FROM Producer
                        LEFT JOIN Harvest on Producer.NP = Harvest.NP
                        GROUP BY(Producer.NP))
WHERE NBP IS NULL

Done.

[(3, None, u'Six'),
 (6, None, u'Marmagne'),
 (8, None, u"Lioger d'Harduy"),
 (16, None, u'Barbin'),
 (17, None, u'Faiveley'),
 (18, None, u'Tramier'),
 (19, None, u'Dupaquier'),
 (20, None, u'Lamy'),
 (21, None, u'Cornu'),
 (26, None, u'Violot'),
 (28, None, u'Monnier'),
 (29, None, u'de Suremain'),
 (31, None, u'Prudhon'),
 (32, None, u'Mestre'),
 (33, None, u'Prieur'),
 (34, None, u'Monnier'),
 (37, None, u'Delagrange Bachelet'),
 (39, None, u'de Suremin'),
 (41, None, u'Juillot'),
 (44, None, u'Feyveley'),
 (47, None, u'Thenard'),
 (48, None, u'Flamand'),
 (49, None, u'Guillot'),
 (51, None, u'Simonet'),
 (53, None, u'Cooperative'),
 (57, None, u'Desmules'),
 (58, None, u'Joubert'),
 (61, None, u'Champier'),
 (62, None, u'Champagnon'),
 (66, None, u'Cooperative'),
 (77, None, u'Tissot'),
 (83, None, u'Goy'),
 (91, None, u'Chave'),
 (92, None, u'De Boissieu'),
 (94, None, u'Grippat'),
 (96, None, u'Boisson'),
 (97, None, u'Quiot'),
 (100, None, u'Bernard'),
 (101, None, u'Verdan'),
 (102, None, u'Cooperative'),
 (103, None, u'Coulouvrat'),
 (104, None, u'Rabasse Chavarin'),
 (105, None, u'Roux'),
 (106, None, u'Alary'),
 (108, None, u'Archimbaud'),
 (109, None, u'Rey'),
 (110, None, u'Cooperative'),
 (111, None, u'Zafiropulo'),
 (112, None, u'Prebost'),
 (113, None, u'Gomez'),
 (114, None, u'Brunet'),
 (115, None, u'Bordonado'),
 (116, None, u'Imbert'),
 (117, None, u'Cooperative'),
 (118, None, u'Cooperative'),
 (119, None, u'Cooperative'),
 (121, None, u'Cooperative'),
 (122, None, u'Dupuy'),
 (123, None, u'Laurent'),
 (124, None, u'Daurat Fort'),
 (125, None, u'Baldes'),
 (126, None, u'Jouffreau'),
 (127, None, u'Brumont'),
 (129, None, u'Barrere')]

__2.7__ What clients (buveurs) have bought at least one wine from 1980?

In [27]:
%%sql
SELECT c.ID_CUSTOMER, c.NOM, c.PRENOM, SUM(b.QTE) AS bottles_bought_1980 FROM Customer c
INNER JOIN Buy b on b.NB=c.NB
INNER JOIN Wine w on w.NV=b.NV
WHERE w.MILL=1980
GROUP BY c.NOM, c.PRENOM

Done.

[(101, u'Aragon', u'Louis', 24),
 (66, u'Artaud', u'Antonin', 66),
 (59, u'Gide', u'Andre', 171),
 (60, u'Giono', u'Jean', 1),
 (65, u'Lautreamont', None, 4),
 (76, u'Mallarme', u'Stephane', 20)]

__2.8__ What clients (buveurs) have NOT bought any wine from 1980?

In [28]:
%%sql
SELECT c.NOM, c.PRENOM, SUM(b.QTE) AS bottles_bought_1980 FROM Customer c
INNER JOIN Buy b on b.NB=c.NB
INNER JOIN Wine w on w.NV=b.NV
WHERE w.MILL!=1980
GROUP BY NOM, PRENOM

Done.

[(u'Ajar', u'Emile', 280),
 (u'Andersen', u'Yann', 1),
 (u'Anouilh', u'Jean', 6),
 (u'Apollinaire', u'Guillaume', 24),
 (u'Aragon', u'Louis', 240),
 (u'Aristote', None, 78),
 (u'Aron', u'Raymond', 174),
 (u'Arrabal', u'Fernando', 36),
 (u'Artaud', u'Antonin', 1100),
 (u'Audiberti', u'Jacques', 339),
 (u'Bataille', u'Georges', 30),
 (u'Baudelaire', u'Charles', 30),
 (u'Bory', u'Jean Louis', 2),
 (u'Camus', u'Albert', 25),
 (u'Carroll', u'Lewis', 5),
 (u'Ciceron', None, 12),
 (u'Cocteau', u'Jean', 3),
 (u'Courrier', u'Paul Louis', 7),
 (u'Dante', None, 2),
 (u'Diderot', u'Denis', 6),
 (u'Dostoievsky', u'Fiodor', 100),
 (u'Flaubert', u'Gustave', 1),
 (u'Gauthier', u'Theophile', 10),
 (u'Hardy', u'Thomas', 2),
 (u'Kafka', u'Franz', 5),
 (u'La Fontaine', u'Jean de', 80),
 (u'Mallarme', u'Stephane', 9),
 (u'Marivaux', u'Pierre Carlet de Chamblain de', 7),
 (u'Moliere', None, 11),
 (u'Montaigne', u'Michel de', 1),
 (u'Ovide', None, 8),
 (u'Proust', u'Marcel', 21),
 (u'Ronsard', u'Pierre', 22),
 (u'Roussel', u'Rene', 23),
 (u'Sand', u'Georges', 22),
 (u'Verne', u'Jules', 4),
 (u'Vigny', u'Alfred de', 1),
 (u'Wilde', u'Oscar', 5),
 (u'Woolf', u'Virginia', 18),
 (u'Zola', u'Emile', 6)]

__2.9__ What clients (buveurs) have bought ONLY wines from 1980?

In [29]:
%%sql
SELECT c.NOM, c.PRENOM, SUM(b.QTE) AS bottles_bought_1980 FROM Customer c
INNER JOIN Buy b on b.NB=c.NB
INNER JOIN Wine w on w.NV=b.NV
GROUP BY NOM, PRENOM
EXCEPT
SELECT c.NOM, c.PRENOM, SUM(b.QTE) AS bottles_bought_1980 FROM Customer c
INNER JOIN Buy b on b.NB=c.NB
INNER JOIN Wine w on w.NV=b.NV
WHERE w.MILL!=1980
GROUP BY NOM, PRENOM

Done.

[(u'Aragon', u'Louis', 264),
 (u'Artaud', u'Antonin', 1166),
 (u'Gide', u'Andre', 171),
 (u'Giono', u'Jean', 1),
 (u'Lautreamont', None, 4),
 (u'Mallarme', u'Stephane', 29)]

__2.10__ List all wines from 1980

In [31]:
%%sql
SELECT *
FROM Wine
WHERE MILL=1980
ORDER BY NV asc;

Done.

[(1, u'Mercurey', 11.5, 1980),
 (4, u'Mercurey', 10.9, 1980),
 (16, u'Meursault', 12.1, 1980),
 (20, u'Cote de Brouilly', 12.1, 1980),
 (26, u'Chateau Corton Grancey', None, 1980),
 (28, u'Volnay', 11.0, 1980),
 (43, u'Fleurie', 11.4, 1980),
 (74, u'Arbois', 12.0, 1980),
 (78, u'Etoile', 12.0, 1980),
 (79, u'Seyssel', 11.0, 1980),
 (80, u'Seyssel', 11.0, 1980),
 (81, u'Cornas', 11.1, 1980),
 (82, u'Cornas', 11.0, 1980),
 (83, u'Saint Amour', 10.0, 1980),
 (84, u'Rasteau', 10.0, 1980),
 (85, u'Tavel', 11.0, 1980),
 (86, u'Tavel', 11.0, 1980),
 (87, u'Cotes de Provence', None, 1980)]

__2.11__ What are the wines from 1980 bought by NB=2?

In [32]:
%%sql
SELECT * FROM Wine w
INNER JOIN Buy b ON w.NV = b.NV
WHERE MILL=1980 AND b.NB=2
GROUP BY w.NV;

Done.

[(1, u'Mercurey', 11.5, 1980, 58, 2, 1, 33, u'BORDEAUX', u'1977-11-02')]

__2.12__ What clients (buveurs) have bought ALL the wines from 1980?

In [65]:
%%sql
SELECT DISTINCT b.NB, COUNT(b.NV) AS Counter, c.PRENOM, c.NOM FROM Buy b
INNER JOIN Wine w ON b.NV=w.NV
INNER JOIN Customer c ON c.NB = b.NB
WHERE w.MILL=1980
GROUP BY b.NB HAVING Counter = 18

Done.

[(44, 18, u'Andre', u'Gide')]