# SD202 TP3 - Views, Updates and Database Design

The objectives for this TP are:

1. Create and use SQL Views
2. Update database content
3. Design the database schema for a Social Network


For the first 2 parts we will use the _wine_ database and the Tables created in TP2.

A reminder of the wine database schema:

+-----------------------------------------+
|                 Master1                 |
+-----------------------------------------+
| NV:      Wine number                    |
| CRU:     Vineyard or group of vineyards |
| DEGRE:   Alcohol content                |
| MILL:    Vintage year                   |
| QTE:     Number of bottles harvested    |
| NP:      Producer number                |
| NOM:     Producer's last name           |
| PRENOM:  Producer's first name          |
| REGION:  Wine growing region            |
+-----------------------------------------+

+-------------------------------------------------------------------+
|                              Master2                              |
+-------------------------------------------------------------------+
| NV:      Wine number                                              |
| CRU:     Vineyard or group of vineyards                           |
| DEGRE:   Alcohol content                                          |
| MILL:    Vintage year                                             |
| DATES:   Buying date                                              |
| LIEU:    Place where the wine was sold                            |
| QTE:     Number of bottles bought                                 |
| NB:      Client (buveur) number                                   |
| NON:     Client's last name                                       |
| PRENOM:  Client's first name                                      |
| TYPE:    Type of client by volume of purchases                    |
| REGION:  Administrative Region (different to wine growing region) |
+-------------------------------------------------------------------+

In [1]:
import sqlite3

In [2]:
def printSchema(connection):
    ### Source: http://stackoverflow.com/a/35092773/4765776
    for (tableName,) in connection.execute(
        """
        select NAME from SQLITE_MASTER where TYPE='table' order by NAME;
        """
    ):
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [3]:
conn = sqlite3.connect('wine.db')
c = conn.cursor()
print("Database schema:")
printSchema(conn)

Database schema:
Harvest:
  0: NP(INTEGER)
  1: NV(INTEGER)
  2: QTE(INTEGER)
Location:
  0: LIEU(TEXT) *1
  1: REGION(TEXT)
MASTER1:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: QTE(NUM)
  5: NP(NUM)
  6: NOM(TEXT)
  7: PRENOM(TEXT)
  8: REGION(TEXT)
MASTER2:
  0: NV(NUM)
  1: CRU(TEXT)
  2: DEGRE(NUM)
  3: MILL(NUM)
  4: DATES(NUM)
  5: LIEU(TEXT)
  6: QTE(NUM)
  7: NB(NUM)
  8: NOM(TEXT)
  9: PRENOM(TEXT)
  10: TYPE(TEXT)
  11: REGION(TEXT)
Producer:
  0: NP(INTEGER) *1
  1: NOM(TEXT)
  2: PRENOM(TEXT)
  3: REGION(TEXT)
Wine:
  0: NV(INTEGER) *1
  1: CRU(TEXT)
  2: DEGRE(FLOAT)
  3: MILL(INTEGER)

Again, we recommend inline %sql as an alternative to the sqlite3 package

In [4]:
%load_ext sql
%sql sqlite:///wine.db

u'Connected: None@wine.db'

Recreate the Tables in 3NF/BCNF from Master2 as you did in the TP2

In [5]:
# Write corresponding code here
%sql DROP TABLE IF EXISTS Producer;
%sql CREATE TABLE Producer( \
    NP INTEGER PRIMARY KEY, \
    NOM TEXT, \
    PRENOM TEXT, \
    REGION TEXT\
);
%sql INSERT INTO Producer SELECT DISTINCT NP, NOM, PRENOM, REGION FROM MASTER1 WHERE NP NOT NULL;
%sql SELECT * FROM Producer LIMIT 20;

# Write corresponding code here
%sql DROP TABLE IF EXISTS Wine;
%sql CREATE TABLE Wine( \
    NV INTEGER PRIMARY KEY, \
    CRU TEXT, \
    DEGRE FLOAT, \
    MILL INTEGER \
);
%sql INSERT INTO Wine SELECT DISTINCT NV, CRU, DEGRE, MILL FROM Master1 WHERE NV NOT NULL;
%sql SELECT * FROM Wine LIMIT 20;

# Write corresponding code here

%sql DROP TABLE IF EXISTS Harvest;
%sql CREATE TABLE Harvest( \
    NP INTEGER, \
    NV INTEGER, \
    QTE INTEGER, \
    FOREIGN KEY(NP) REFERENCES Producer(NP), \
    FOREIGN KEY(NV) REFERENCES Wine(NV) \
);
%sql INSERT INTO Harvest SELECT DISTINCT NP, NV, QTE FROM Master1 WHERE NV AND NP NOT NULL;
%sql SELECT * FROM Harvest LIMIT 20;

Done.
Done.
124 rows affected.
Done.
Done.
Done.
102 rows affected.
Done.
Done.
Done.
140 rows affected.
Done.

[(1, 1, 300),
 (73, 1, 1),
 (5, 2, 100),
 (1, 3, 400),
 (10, 4, 35),
 (30, 5, 46),
 (42, 6, 300),
 (98, 7, 60),
 (90, 8, 12),
 (98, 10, 100),
 (5, 11, 200),
 (7, 12, 31),
 (43, 12, 200),
 (89, 12, 310),
 (13, 13, 13),
 (86, 14, 180),
 (80, 15, 290),
 (38, 16, 100),
 (95, 17, 50),
 (40, 18, 120)]

In [10]:
%%sql
DROP TABLE IF EXISTS Location;
CREATE TABLE Location(
    LIEU TEXT PRIMARY KEY,
    REGION TEXT
);
INSERT INTO Location SELECT DISTINCT LIEU, REGION FROM Master2 WHERE LIEU NOT NULL;
SELECT * FROM Location LIMIT 20;



DROP TABLE IF EXISTS Customer;
CREATE TABLE Customer(
    ID_CUSTOMER INTEGER PRIMARY KEY AUTOINCREMENT,
    NB INTEGER,
    NOM TEXT,
    PRENOM TEXT,
    TYPE TEXT
);
INSERT INTO Customer (NB, NOM, PRENOM, TYPE) SELECT DISTINCT NB, NOM, PRENOM, TYPE FROM Master2;
SELECT * FROM Customer ORDER BY NB;

DROP TABLE IF EXISTS Buy;
CREATE TABLE Buy(
    ID_BUY INTEGER PRIMARY KEY AUTOINCREMENT,
    NB INTEGER,
    NV INTEGER,
    QTE INTEGER,
    LIEU TEXT,
    DATES DATETIME,
    FOREIGN KEY(NB) REFERENCES Customer(NB),
    FOREIGN KEY(LIEU) REFERENCES Location(LIEU),
    FOREIGN KEY(NV) REFERENCES Wine(NV)
);
INSERT INTO Buy (NB, NV, QTE, LIEU, DATES) SELECT DISTINCT NB, NV, QTE, LIEU, DATES FROM Master2;
SELECT * FROM Buy ORDER BY NB LIMIT 20;

Done.
Done.
18 rows affected.
Done.
Done.
Done.
101 rows affected.
Done.
Done.
Done.
185 rows affected.
Done.

[(81, None, 11, None, None, None),
 (83, None, 13, None, None, None),
 (84, None, 14, None, None, None),
 (85, None, 15, None, None, None),
 (87, None, 17, None, None, None),
 (88, None, 18, None, None, None),
 (89, None, 19, None, None, None),
 (97, None, 25, None, None, None),
 (99, None, 27, None, None, None),
 (101, None, 29, None, None, None),
 (102, None, 30, None, None, None),
 (107, None, 33, None, None, None),
 (108, None, 34, None, None, None),
 (110, None, 36, None, None, None),
 (111, None, 37, None, None, None),
 (114, None, 39, None, None, None),
 (125, None, 44, None, None, None),
 (126, None, 45, None, None, None),
 (127, None, 46, None, None, None),
 (128, None, 47, None, None, None)]

___
# PART I: CREATE AND USE VIEWS

A view is a virtual table based on the result-set of an SQL statement. Views are stored in the database with an associated name.

Views are created following the syntax:

```sql
CREATE VIEW view_name AS
SELECT column1, column2.....
FROM table_name
WHERE [condition];
```

An useful command is:

```sql
DROP VIEW IF EXISTS view_name;
```


__Note:__ Use it with caution (only drop something if you are sure)

__1.1__ Create a view 'bons_buveurs' with the clients (buveurs) of type 'gros' or 'moyen'.

In [11]:
%%sql
SELECT * FROM Customer

Done.

[(1, 11, u'Breton', u'Andre', u'petit'),
 (2, 13, u'Barthes', u'Roland', u'moyen'),
 (3, 16, u'Balzac', u'Honore de', u'moyen'),
 (4, 18, u'Celine', u'Louis Ferdinand', u'gros'),
 (5, 20, u'Chateaubriand', u'Francois-Rene de', u'moyen'),
 (6, 21, u'Corbiere', u'Tristan', u'petit'),
 (7, 23, u'Corneille', u'Pierre', u'petit'),
 (8, 25, u'Char', u'Rene', u'petit'),
 (9, 27, u'Dumas', u'Alexandre', u'gros'),
 (10, 29, u'Fournier', u'Alain', u'petit'),
 (11, 32, u'Eluard', u'Paul', u'moyen'),
 (12, 34, u'Mauriac', u'Francois', u'petit'),
 (13, 35, u'Fromentin', u'Eugene', u'gros'),
 (14, 36, u'Maurois', u'Andre', u'petit'),
 (15, 37, u'Freud', u'Sigmund', u'petit'),
 (16, 39, u'Montesquieu', None, u'gros'),
 (17, 42, u'Goethe', u'Johann Wolfgang von', u'moyen'),
 (18, 43, u'Musset', u'Alfred de', u'gros'),
 (19, 46, u'Hugo', u'Victor', u'moyen'),
 (20, 47, u'Gary', u'Romain', u'petit'),
 (21, 51, u'Lafargue', u'Paul', u'petit'),
 (22, 53, u'Lamartine', u'Alphonse de', u'gros'),
 (23, 54, u'Aurele', u'Marc', u'petit'),
 (24, 55, u'Michelet', u'Jules', u'gros'),
 (25, 56, u'Nerval', u'Gerard de', u'petit'),
 (26, 57, u'Marx', u'Karl', u'gros'),
 (27, 59, u'Nietzsche', u'Friedrich', u'petit'),
 (28, 63, u'Maupassant', u'Guy de', u'petit'),
 (29, 64, u'Platon', None, u'gros'),
 (30, 65, u'Pascal', u'Blaise', u'petit'),
 (31, 66, u'Perec', u'Georges', u'gros'),
 (32, 67, u'Nin', u'Anais', u'petit'),
 (33, 68, u'Prevert', u'Jacques', u'gros'),
 (34, 69, u'Queneau', u'Raymond', u'petit'),
 (35, 70, u'Paulhan', u'Jean', u'gros'),
 (36, 71, u'Radiguet', u'Raymond', u'petit'),
 (37, 72, u'Rabelais', u'Francois', u'gros'),
 (38, 73, u'Poe', u'Allan Edgard', u'moyen'),
 (39, 74, u'Rimbaud', u'Arthur', u'petit'),
 (40, 76, u'Racine', u'Jean', u'gros'),
 (41, 77, u'Rousseau', u'Jean-Jacques', u'petit'),
 (42, 78, u'Sandier', u'Jules', u'moyen'),
 (43, 79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros'),
 (44, 81, u'Sartre', u'Jean-Paul', u'gros'),
 (45, 83, u'Sophocle', None, u'gros'),
 (46, 84, u'Sue', u'Eugene', u'moyen'),
 (47, 85, u'Segalen', u'Victor', u'petit'),
 (48, 86, u'Saint Exupery', u'Antoine de', u'gros'),
 (49, 87, u'Segur', u'Comtesse de', u'gros'),
 (50, 88, u'Shakespeare', u'William', u'petit'),
 (51, 89, u'Stendhal', None, u'petit'),
 (52, 90, u'Vian', u'Boris', u'petit'),
 (53, 91, u'Verlaine', u'Paul', u'gros'),
 (54, 93, u'Virgile', None, u'gros'),
 (55, 95, u'Zorn', u'Fritz', u'moyen'),
 (56, 98, u'Maturin', u'Robert', u'gros'),
 (57, 99, u'Cesar', u'Jules', u'gros'),
 (58, 2, u'Artaud', u'Antonin', u'moyen'),
 (59, 44, u'Gide', u'Andre', u'petit'),
 (60, 45, u'Giono', u'Jean', u'petit'),
 (61, 48, u'Hardy', u'Thomas', u'moyen'),
 (62, 7, u'Anouilh', u'Jean', u'moyen'),
 (63, 49, u'Kafka', u'Franz', u'petit'),
 (64, 8, u'Aragon', u'Louis', u'gros'),
 (65, 50, u'Lautreamont', None, u'moyen'),
 (66, 52, u'Carroll', u'Lewis', u'petit'),
 (67, 3, u'Aron', u'Raymond', u'gros'),
 (68, 4, u'Apollinaire', u'Guillaume', u'moyen'),
 (69, 58, u'Marivaux', u'Pierre Carlet de Chamblain de', u'gros'),
 (70, 1, u'Aristote', None, u'petit'),
 (71, 9, u'Ajar', u'Emile', u'petit'),
 (72, 60, u'Ovide', None, u'gros'),
 (73, 5, u'Audiberti', u'Jacques', u'petit'),
 (74, 10, u'Andersen', u'Yann', u'gros'),
 (75, 61, u'Mallarme', u'Stephane', u'petit'),
 (76, None, None, None, None),
 (77, 6, u'Arrabal', u'Fernando', u'gros'),
 (78, 62, u'Proust', u'Marcel', u'moyen'),
 (79, 75, u'Ronsard', u'Pierre', u'moyen'),
 (80, 80, u'Sand', u'Georges', u'petit'),
 (81, 82, u'Roussel', u'Rene', u'petit'),
 (82, 100, u'Woolf', u'Virginia', u'petit'),
 (83, 26, u'Diderot', u'Denis', u'moyen'),
 (84, 28, u'Dostoievsky', u'Fiodor', u'gros'),
 (85, 22, u'Cocteau', u'Jean', u'gros'),
 (86, 24, u'Courrier', u'Paul Louis', u'moyen'),
 (87, 30, u'La Fontaine', u'Jean de', u'petit'),
 (88, 12, u'Bataille', u'Georges', u'moyen'),
 (89, 14, u'Bory', u'Jean Louis', u'gros'),
 (90, 15, u'Baudelaire', u'Charles', u'petit'),
 (91, 17, u'Camus', u'Albert', u'petit'),
 (92, 19, u'Ciceron', None, u'gros'),
 (93, 33, u'Flaubert', u'Gustave', u'moyen'),
 (94, 92, u'Verne', u'Jules', u'petit'),
 (95, 31, u'Dante', None, u'gros'),
 (96, 94, u'Zola', u'Emile', u'moyen'),
 (97, 38, u'Montaigne', u'Michel de', u'petit'),
 (98, 96, u'Wilde', u'Oscar', u'petit'),
 (99, 97, u'Vigny', u'Alfred de', u'petit'),
 (100, 40, u'Moliere', None, u'petit'),
 (101, 41, u'Gauthier', u'Theophile', u'petit')]

In [12]:
%%sql
DROP VIEW IF EXISTS bons_buveurs;
CREATE VIEW bons_buveurs AS
SELECT * FROM Customer
WHERE TYPE='gros' OR TYPE='moyen'

Done.
Done.

[]

In [13]:
# Test
%sql SELECT * FROM bons_buveurs ORDER BY nb;

Done.

[(58, 2, u'Artaud', u'Antonin', u'moyen'),
 (67, 3, u'Aron', u'Raymond', u'gros'),
 (68, 4, u'Apollinaire', u'Guillaume', u'moyen'),
 (77, 6, u'Arrabal', u'Fernando', u'gros'),
 (62, 7, u'Anouilh', u'Jean', u'moyen'),
 (64, 8, u'Aragon', u'Louis', u'gros'),
 (74, 10, u'Andersen', u'Yann', u'gros'),
 (88, 12, u'Bataille', u'Georges', u'moyen'),
 (2, 13, u'Barthes', u'Roland', u'moyen'),
 (89, 14, u'Bory', u'Jean Louis', u'gros'),
 (3, 16, u'Balzac', u'Honore de', u'moyen'),
 (4, 18, u'Celine', u'Louis Ferdinand', u'gros'),
 (92, 19, u'Ciceron', None, u'gros'),
 (5, 20, u'Chateaubriand', u'Francois-Rene de', u'moyen'),
 (85, 22, u'Cocteau', u'Jean', u'gros'),
 (86, 24, u'Courrier', u'Paul Louis', u'moyen'),
 (83, 26, u'Diderot', u'Denis', u'moyen'),
 (9, 27, u'Dumas', u'Alexandre', u'gros'),
 (84, 28, u'Dostoievsky', u'Fiodor', u'gros'),
 (95, 31, u'Dante', None, u'gros'),
 (11, 32, u'Eluard', u'Paul', u'moyen'),
 (93, 33, u'Flaubert', u'Gustave', u'moyen'),
 (13, 35, u'Fromentin', u'Eugene', u'gros'),
 (16, 39, u'Montesquieu', None, u'gros'),
 (17, 42, u'Goethe', u'Johann Wolfgang von', u'moyen'),
 (18, 43, u'Musset', u'Alfred de', u'gros'),
 (19, 46, u'Hugo', u'Victor', u'moyen'),
 (61, 48, u'Hardy', u'Thomas', u'moyen'),
 (65, 50, u'Lautreamont', None, u'moyen'),
 (22, 53, u'Lamartine', u'Alphonse de', u'gros'),
 (24, 55, u'Michelet', u'Jules', u'gros'),
 (26, 57, u'Marx', u'Karl', u'gros'),
 (69, 58, u'Marivaux', u'Pierre Carlet de Chamblain de', u'gros'),
 (72, 60, u'Ovide', None, u'gros'),
 (78, 62, u'Proust', u'Marcel', u'moyen'),
 (29, 64, u'Platon', None, u'gros'),
 (31, 66, u'Perec', u'Georges', u'gros'),
 (33, 68, u'Prevert', u'Jacques', u'gros'),
 (35, 70, u'Paulhan', u'Jean', u'gros'),
 (37, 72, u'Rabelais', u'Francois', u'gros'),
 (38, 73, u'Poe', u'Allan Edgard', u'moyen'),
 (79, 75, u'Ronsard', u'Pierre', u'moyen'),
 (40, 76, u'Racine', u'Jean', u'gros'),
 (42, 78, u'Sandier', u'Jules', u'moyen'),
 (43, 79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros'),
 (44, 81, u'Sartre', u'Jean-Paul', u'gros'),
 (45, 83, u'Sophocle', None, u'gros'),
 (46, 84, u'Sue', u'Eugene', u'moyen'),
 (48, 86, u'Saint Exupery', u'Antoine de', u'gros'),
 (49, 87, u'Segur', u'Comtesse de', u'gros'),
 (53, 91, u'Verlaine', u'Paul', u'gros'),
 (54, 93, u'Virgile', None, u'gros'),
 (96, 94, u'Zola', u'Emile', u'moyen'),
 (55, 95, u'Zorn', u'Fritz', u'moyen'),
 (56, 98, u'Maturin', u'Robert', u'gros'),
 (57, 99, u'Cesar', u'Jules', u'gros')]

__1.2__ Create the view 'buveurs_asec' with clients (buveurs) who have not bought any wine.

In [36]:
%%sql
DROP VIEW IF EXISTS buveurs_asec;
CREATE VIEW buveurs_asec AS
SELECT c.NOM, c.PRENOM, c.NB, c.TYPE FROM Customer c
INNER JOIN Buy b ON b.NB=c.NB
GROUP BY c.NB
HAVING SUM(b.QTE) IS NULL

Done.
Done.

[]

In [37]:
# Test
%sql SELECT * FROM buveurs_asec ORDER BY nb;

Done.

[(u'Breton', u'Andre', 11, u'petit'),
 (u'Barthes', u'Roland', 13, u'moyen'),
 (u'Balzac', u'Honore de', 16, u'moyen'),
 (u'Celine', u'Louis Ferdinand', 18, u'gros'),
 (u'Chateaubriand', u'Francois-Rene de', 20, u'moyen'),
 (u'Corbiere', u'Tristan', 21, u'petit'),
 (u'Corneille', u'Pierre', 23, u'petit'),
 (u'Char', u'Rene', 25, u'petit'),
 (u'Dumas', u'Alexandre', 27, u'gros'),
 (u'Fournier', u'Alain', 29, u'petit'),
 (u'Eluard', u'Paul', 32, u'moyen'),
 (u'Mauriac', u'Francois', 34, u'petit'),
 (u'Fromentin', u'Eugene', 35, u'gros'),
 (u'Maurois', u'Andre', 36, u'petit'),
 (u'Freud', u'Sigmund', 37, u'petit'),
 (u'Montesquieu', None, 39, u'gros'),
 (u'Goethe', u'Johann Wolfgang von', 42, u'moyen'),
 (u'Musset', u'Alfred de', 43, u'gros'),
 (u'Hugo', u'Victor', 46, u'moyen'),
 (u'Gary', u'Romain', 47, u'petit'),
 (u'Lafargue', u'Paul', 51, u'petit'),
 (u'Lamartine', u'Alphonse de', 53, u'gros'),
 (u'Aurele', u'Marc', 54, u'petit'),
 (u'Michelet', u'Jules', 55, u'gros'),
 (u'Nerval', u'Gerard de', 56, u'petit'),
 (u'Marx', u'Karl', 57, u'gros'),
 (u'Nietzsche', u'Friedrich', 59, u'petit'),
 (u'Maupassant', u'Guy de', 63, u'petit'),
 (u'Platon', None, 64, u'gros'),
 (u'Pascal', u'Blaise', 65, u'petit'),
 (u'Perec', u'Georges', 66, u'gros'),
 (u'Nin', u'Anais', 67, u'petit'),
 (u'Prevert', u'Jacques', 68, u'gros'),
 (u'Queneau', u'Raymond', 69, u'petit'),
 (u'Paulhan', u'Jean', 70, u'gros'),
 (u'Radiguet', u'Raymond', 71, u'petit'),
 (u'Rabelais', u'Francois', 72, u'gros'),
 (u'Poe', u'Allan Edgard', 73, u'moyen'),
 (u'Rimbaud', u'Arthur', 74, u'petit'),
 (u'Racine', u'Jean', 76, u'gros'),
 (u'Rousseau', u'Jean-Jacques', 77, u'petit'),
 (u'Sandier', u'Jules', 78, u'moyen'),
 (u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', 79, u'gros'),
 (u'Sartre', u'Jean-Paul', 81, u'gros'),
 (u'Sophocle', None, 83, u'gros'),
 (u'Sue', u'Eugene', 84, u'moyen'),
 (u'Segalen', u'Victor', 85, u'petit'),
 (u'Saint Exupery', u'Antoine de', 86, u'gros'),
 (u'Segur', u'Comtesse de', 87, u'gros'),
 (u'Shakespeare', u'William', 88, u'petit'),
 (u'Stendhal', None, 89, u'petit'),
 (u'Vian', u'Boris', 90, u'petit'),
 (u'Verlaine', u'Paul', 91, u'gros'),
 (u'Virgile', None, 93, u'gros'),
 (u'Zorn', u'Fritz', 95, u'moyen'),
 (u'Maturin', u'Robert', 98, u'gros'),
 (u'Cesar', u'Jules', 99, u'gros')]

__1.3__ Create the view 'buveurs_achats' complementary to the previous one.

In [16]:
%%sql
DROP VIEW IF EXISTS buveurs_achats;
CREATE VIEW buveurs_achats AS
SELECT c.NOM, c.PRENOM, c.NB, SUM(b.QTE) as Bottles_bought FROM Customer c
INNER JOIN Buy b ON b.NB=c.NB
GROUP BY c.NB
EXCEPT
SELECT * FROM buveurs_asec

Done.
Done.

[]

In [17]:
# Test
%sql SELECT * FROM buveurs_achats ORDER BY nb;

Done.

[(u'Aristote', None, 1, 78),
 (u'Artaud', u'Antonin', 2, 583),
 (u'Aron', u'Raymond', 3, 58),
 (u'Apollinaire', u'Guillaume', 4, 24),
 (u'Audiberti', u'Jacques', 5, 113),
 (u'Arrabal', u'Fernando', 6, 36),
 (u'Anouilh', u'Jean', 7, 6),
 (u'Aragon', u'Louis', 8, 132),
 (u'Ajar', u'Emile', 9, 140),
 (u'Andersen', u'Yann', 10, 1),
 (u'Bataille', u'Georges', 12, 15),
 (u'Bory', u'Jean Louis', 14, 2),
 (u'Baudelaire', u'Charles', 15, 30),
 (u'Camus', u'Albert', 17, 25),
 (u'Ciceron', None, 19, 12),
 (u'Cocteau', u'Jean', 22, 3),
 (u'Courrier', u'Paul Louis', 24, 7),
 (u'Diderot', u'Denis', 26, 6),
 (u'Dostoievsky', u'Fiodor', 28, 100),
 (u'La Fontaine', u'Jean de', 30, 80),
 (u'Dante', None, 31, 2),
 (u'Flaubert', u'Gustave', 33, 1),
 (u'Montaigne', u'Michel de', 38, 1),
 (u'Moliere', None, 40, 11),
 (u'Gauthier', u'Theophile', 41, 10),
 (u'Gide', u'Andre', 44, 171),
 (u'Giono', u'Jean', 45, 1),
 (u'Hardy', u'Thomas', 48, 2),
 (u'Kafka', u'Franz', 49, 5),
 (u'Lautreamont', None, 50, 4),
 (u'Carroll', u'Lewis', 52, 5),
 (u'Marivaux', u'Pierre Carlet de Chamblain de', 58, 7),
 (u'Ovide', None, 60, 8),
 (u'Mallarme', u'Stephane', 61, 29),
 (u'Proust', u'Marcel', 62, 21),
 (u'Ronsard', u'Pierre', 75, 22),
 (u'Sand', u'Georges', 80, 22),
 (u'Roussel', u'Rene', 82, 23),
 (u'Verne', u'Jules', 92, 4),
 (u'Zola', u'Emile', 94, 6),
 (u'Wilde', u'Oscar', 96, 5),
 (u'Vigny', u'Alfred de', 97, 1),
 (u'Woolf', u'Virginia', 100, 18)]

__1.4__ Create the view 'q83pl' (LIEU, CRU, QTE_BUE) that provides by LIEU and CRU the total quantities bought in 1983 by all the clients (buveurs).

In [20]:
%%sql
DROP VIEW IF EXISTS q83pl;
CREATE VIEW q83pl AS
SELECT l.LIEU, w.CRU, SUM(b.QTE) as QTE_BUE FROM Customer c
INNER JOIN Buy b on c.NB = b.NB
INNER JOIN Location l on b.LIEU = l.LIEU
INNER JOIN Wine w on b.NV = w.NV
WHERE b.DATES BETWEEN '1983-01-01' AND '1983-12-31'
GROUP BY l.LIEU, w.CRU

Done.
Done.

[]

In [21]:
# Test
%sql SELECT * FROM q83pl;

Done.

[(u'CAEN', u'Seyssel', 3),
 (u'LILLE', u'Pommard', 5),
 (u'LYON', u'Beaujolais Villages', 10),
 (u'LYON', u'Julienas', 2),
 (u'PARIS', u'Beaujolais Primeur', 4),
 (u'PARIS', u'Coteaux du Tricastin', 1),
 (u'PARIS', u'Pouilly Vinzelles', 3),
 (u'RENNES', u'Mercurey', 1),
 (u'ROCQUENCOURT', u'Beaujolais Villages', 260),
 (u'ROCQUENCOURT', u'Saint Amour', 80)]

__1.5__ Can we define the same view with ascending order over the attribute QTE? Provide an explanation for your answer.

Answer: Yes, once we have created the view we can order it by the columns we want it is easier than making it in the query that creates the view, but it is also possible...

In [22]:
%sql SELECT * FROM q83pl ORDER BY QTE_BUE asc;

Done.

[(u'PARIS', u'Coteaux du Tricastin', 1),
 (u'RENNES', u'Mercurey', 1),
 (u'LYON', u'Julienas', 2),
 (u'CAEN', u'Seyssel', 3),
 (u'PARIS', u'Pouilly Vinzelles', 3),
 (u'PARIS', u'Beaujolais Primeur', 4),
 (u'LILLE', u'Pommard', 5),
 (u'LYON', u'Beaujolais Villages', 10),
 (u'ROCQUENCOURT', u'Saint Amour', 80),
 (u'ROCQUENCOURT', u'Beaujolais Villages', 260)]

___
# PART II: UPDATE DATABASE CONTENT

The syntax for the Update statement is:

```sql
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];
```

The syntax for the Insert statement is:

```sql
INSERT INTO TABLE_NAME [(column1, column2, column3,...columnN)]  
VALUES (value1, value2, value3,...valueN);
```


Database updates are commited automatically in Jupyter/Python. _Transactions_ are an option to control and reverse changes. Additionally we can just reload a backup of the database (NOT an option in deployed systems)

__Note:__ Different to other Database Management Systems, SQLite views are read-only and so you may not execute a DELETE, INSERT or UPDATE statement on a view.

__2.1__ Create a table 'RBB' with the same schema as 'bons_buveurs' which contains the tuples selected from 'bons_buveurs'

In [23]:
%%sql
DROP TABLE IF EXISTS RBB;
CREATE TABLE RBB AS 
SELECT * FROM bons_buveurs

Done.

[]

In [24]:
# Test
%sql SELECT * FROM RBB;

Done.

[(2, 13, u'Barthes', u'Roland', u'moyen'),
 (3, 16, u'Balzac', u'Honore de', u'moyen'),
 (4, 18, u'Celine', u'Louis Ferdinand', u'gros'),
 (5, 20, u'Chateaubriand', u'Francois-Rene de', u'moyen'),
 (9, 27, u'Dumas', u'Alexandre', u'gros'),
 (11, 32, u'Eluard', u'Paul', u'moyen'),
 (13, 35, u'Fromentin', u'Eugene', u'gros'),
 (16, 39, u'Montesquieu', None, u'gros'),
 (17, 42, u'Goethe', u'Johann Wolfgang von', u'moyen'),
 (18, 43, u'Musset', u'Alfred de', u'gros'),
 (19, 46, u'Hugo', u'Victor', u'moyen'),
 (22, 53, u'Lamartine', u'Alphonse de', u'gros'),
 (24, 55, u'Michelet', u'Jules', u'gros'),
 (26, 57, u'Marx', u'Karl', u'gros'),
 (29, 64, u'Platon', None, u'gros'),
 (31, 66, u'Perec', u'Georges', u'gros'),
 (33, 68, u'Prevert', u'Jacques', u'gros'),
 (35, 70, u'Paulhan', u'Jean', u'gros'),
 (37, 72, u'Rabelais', u'Francois', u'gros'),
 (38, 73, u'Poe', u'Allan Edgard', u'moyen'),
 (40, 76, u'Racine', u'Jean', u'gros'),
 (42, 78, u'Sandier', u'Jules', u'moyen'),
 (43, 79, u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', u'gros'),
 (44, 81, u'Sartre', u'Jean-Paul', u'gros'),
 (45, 83, u'Sophocle', None, u'gros'),
 (46, 84, u'Sue', u'Eugene', u'moyen'),
 (48, 86, u'Saint Exupery', u'Antoine de', u'gros'),
 (49, 87, u'Segur', u'Comtesse de', u'gros'),
 (53, 91, u'Verlaine', u'Paul', u'gros'),
 (54, 93, u'Virgile', None, u'gros'),
 (55, 95, u'Zorn', u'Fritz', u'moyen'),
 (56, 98, u'Maturin', u'Robert', u'gros'),
 (57, 99, u'Cesar', u'Jules', u'gros'),
 (58, 2, u'Artaud', u'Antonin', u'moyen'),
 (61, 48, u'Hardy', u'Thomas', u'moyen'),
 (62, 7, u'Anouilh', u'Jean', u'moyen'),
 (64, 8, u'Aragon', u'Louis', u'gros'),
 (65, 50, u'Lautreamont', None, u'moyen'),
 (67, 3, u'Aron', u'Raymond', u'gros'),
 (68, 4, u'Apollinaire', u'Guillaume', u'moyen'),
 (69, 58, u'Marivaux', u'Pierre Carlet de Chamblain de', u'gros'),
 (72, 60, u'Ovide', None, u'gros'),
 (74, 10, u'Andersen', u'Yann', u'gros'),
 (77, 6, u'Arrabal', u'Fernando', u'gros'),
 (78, 62, u'Proust', u'Marcel', u'moyen'),
 (79, 75, u'Ronsard', u'Pierre', u'moyen'),
 (83, 26, u'Diderot', u'Denis', u'moyen'),
 (84, 28, u'Dostoievsky', u'Fiodor', u'gros'),
 (85, 22, u'Cocteau', u'Jean', u'gros'),
 (86, 24, u'Courrier', u'Paul Louis', u'moyen'),
 (88, 12, u'Bataille', u'Georges', u'moyen'),
 (89, 14, u'Bory', u'Jean Louis', u'gros'),
 (92, 19, u'Ciceron', None, u'gros'),
 (93, 33, u'Flaubert', u'Gustave', u'moyen'),
 (95, 31, u'Dante', None, u'gros'),
 (96, 94, u'Zola', u'Emile', u'moyen')]

__2.2__ Update the table you used to create 'bons_buveurs': Change the 'type' to 'gros' if the total of quantities bought is over 100.

Find the instances to update (schema may be different from the one in your table)

In [27]:
%%sql
SELECT c.ID_CUSTOMER, c.NB, c.NOM, c.PRENOM, c.TYPE FROM Customer c
INNER JOIN Buy b ON b.NB=c.NB
GROUP BY c.NB
HAVING SUM(b.QTE) > 100

Done.

[(58, 2, u'Artaud', u'Antonin', u'moyen'),
 (73, 5, u'Audiberti', u'Jacques', u'petit'),
 (64, 8, u'Aragon', u'Louis', u'gros'),
 (71, 9, u'Ajar', u'Emile', u'petit'),
 (59, 44, u'Gide', u'Andre', u'petit')]

Update instances

In [30]:
%%sql
UPDATE Customer
SET TYPE = 'gros'
WHERE ID_CUSTOMER IN (
    SELECT c.ID_CUSTOMER FROM Customer c
    INNER JOIN Buy b ON b.NB=c.NB
    GROUP BY c.NB
    HAVING SUM(b.QTE) > 100
);

5 rows affected.

[]

__2.3__ Compare the content of _table_ 'RBB' and the _view_ 'bons_buveurs' after the update. What differences do you see? Explain

In [33]:
%%sql 
SELECT * FROM bons_buveurs
EXCEPT
SELECT * FROM RBB

Done.

[(58, 2, u'Artaud', u'Antonin', u'gros'),
 (59, 44, u'Gide', u'Andre', u'gros'),
 (71, 9, u'Ajar', u'Emile', u'gros'),
 (73, 5, u'Audiberti', u'Jacques', u'gros')]

Answer: We can see here that There are 4 rows that are not in RBB. Those are the rows that where 'petit' and updated, or changed from type 'moyen' to 'gros'

__2.4__ Create a table 'RBA' with the same schema as 'buveurs_asec' which contains the tuples selected from 'buveurs_asec'

In [38]:
%%sql
DROP TABLE IF EXISTS RBA;
CREATE TABLE RBA AS 
SELECT * FROM buveurs_asec;

Done.
Done.

[]

In [39]:
# Test
%sql SELECT * FROM RBA

Done.

[(u'Breton', u'Andre', 11, u'petit'),
 (u'Barthes', u'Roland', 13, u'moyen'),
 (u'Balzac', u'Honore de', 16, u'moyen'),
 (u'Celine', u'Louis Ferdinand', 18, u'gros'),
 (u'Chateaubriand', u'Francois-Rene de', 20, u'moyen'),
 (u'Corbiere', u'Tristan', 21, u'petit'),
 (u'Corneille', u'Pierre', 23, u'petit'),
 (u'Char', u'Rene', 25, u'petit'),
 (u'Dumas', u'Alexandre', 27, u'gros'),
 (u'Fournier', u'Alain', 29, u'petit'),
 (u'Eluard', u'Paul', 32, u'moyen'),
 (u'Mauriac', u'Francois', 34, u'petit'),
 (u'Fromentin', u'Eugene', 35, u'gros'),
 (u'Maurois', u'Andre', 36, u'petit'),
 (u'Freud', u'Sigmund', 37, u'petit'),
 (u'Montesquieu', None, 39, u'gros'),
 (u'Goethe', u'Johann Wolfgang von', 42, u'moyen'),
 (u'Musset', u'Alfred de', 43, u'gros'),
 (u'Hugo', u'Victor', 46, u'moyen'),
 (u'Gary', u'Romain', 47, u'petit'),
 (u'Lafargue', u'Paul', 51, u'petit'),
 (u'Lamartine', u'Alphonse de', 53, u'gros'),
 (u'Aurele', u'Marc', 54, u'petit'),
 (u'Michelet', u'Jules', 55, u'gros'),
 (u'Nerval', u'Gerard de', 56, u'petit'),
 (u'Marx', u'Karl', 57, u'gros'),
 (u'Nietzsche', u'Friedrich', 59, u'petit'),
 (u'Maupassant', u'Guy de', 63, u'petit'),
 (u'Platon', None, 64, u'gros'),
 (u'Pascal', u'Blaise', 65, u'petit'),
 (u'Perec', u'Georges', 66, u'gros'),
 (u'Nin', u'Anais', 67, u'petit'),
 (u'Prevert', u'Jacques', 68, u'gros'),
 (u'Queneau', u'Raymond', 69, u'petit'),
 (u'Paulhan', u'Jean', 70, u'gros'),
 (u'Radiguet', u'Raymond', 71, u'petit'),
 (u'Rabelais', u'Francois', 72, u'gros'),
 (u'Poe', u'Allan Edgard', 73, u'moyen'),
 (u'Rimbaud', u'Arthur', 74, u'petit'),
 (u'Racine', u'Jean', 76, u'gros'),
 (u'Rousseau', u'Jean-Jacques', 77, u'petit'),
 (u'Sandier', u'Jules', 78, u'moyen'),
 (u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', 79, u'gros'),
 (u'Sartre', u'Jean-Paul', 81, u'gros'),
 (u'Sophocle', None, 83, u'gros'),
 (u'Sue', u'Eugene', 84, u'moyen'),
 (u'Segalen', u'Victor', 85, u'petit'),
 (u'Saint Exupery', u'Antoine de', 86, u'gros'),
 (u'Segur', u'Comtesse de', 87, u'gros'),
 (u'Shakespeare', u'William', 88, u'petit'),
 (u'Stendhal', None, 89, u'petit'),
 (u'Vian', u'Boris', 90, u'petit'),
 (u'Verlaine', u'Paul', 91, u'gros'),
 (u'Virgile', None, 93, u'gros'),
 (u'Zorn', u'Fritz', 95, u'moyen'),
 (u'Maturin', u'Robert', 98, u'gros'),
 (u'Cesar', u'Jules', 99, u'gros')]

__2.5__ Insert a tuple (101, 'your last name', 'your first name', 'your type of purchases(petit, moyen, or gros)') to 'RBA'

In [41]:
%%sql
INSERT INTO RBA (NB, NOM, PRENOM, TYPE)
VALUES (101, 'Ferreira', 'Remi', 'moyen');

1 rows affected.

[]

In [42]:
# Test
%sql SELECT * FROM RBA

Done.

[(u'Breton', u'Andre', 11, u'petit'),
 (u'Barthes', u'Roland', 13, u'moyen'),
 (u'Balzac', u'Honore de', 16, u'moyen'),
 (u'Celine', u'Louis Ferdinand', 18, u'gros'),
 (u'Chateaubriand', u'Francois-Rene de', 20, u'moyen'),
 (u'Corbiere', u'Tristan', 21, u'petit'),
 (u'Corneille', u'Pierre', 23, u'petit'),
 (u'Char', u'Rene', 25, u'petit'),
 (u'Dumas', u'Alexandre', 27, u'gros'),
 (u'Fournier', u'Alain', 29, u'petit'),
 (u'Eluard', u'Paul', 32, u'moyen'),
 (u'Mauriac', u'Francois', 34, u'petit'),
 (u'Fromentin', u'Eugene', 35, u'gros'),
 (u'Maurois', u'Andre', 36, u'petit'),
 (u'Freud', u'Sigmund', 37, u'petit'),
 (u'Montesquieu', None, 39, u'gros'),
 (u'Goethe', u'Johann Wolfgang von', 42, u'moyen'),
 (u'Musset', u'Alfred de', 43, u'gros'),
 (u'Hugo', u'Victor', 46, u'moyen'),
 (u'Gary', u'Romain', 47, u'petit'),
 (u'Lafargue', u'Paul', 51, u'petit'),
 (u'Lamartine', u'Alphonse de', 53, u'gros'),
 (u'Aurele', u'Marc', 54, u'petit'),
 (u'Michelet', u'Jules', 55, u'gros'),
 (u'Nerval', u'Gerard de', 56, u'petit'),
 (u'Marx', u'Karl', 57, u'gros'),
 (u'Nietzsche', u'Friedrich', 59, u'petit'),
 (u'Maupassant', u'Guy de', 63, u'petit'),
 (u'Platon', None, 64, u'gros'),
 (u'Pascal', u'Blaise', 65, u'petit'),
 (u'Perec', u'Georges', 66, u'gros'),
 (u'Nin', u'Anais', 67, u'petit'),
 (u'Prevert', u'Jacques', 68, u'gros'),
 (u'Queneau', u'Raymond', 69, u'petit'),
 (u'Paulhan', u'Jean', 70, u'gros'),
 (u'Radiguet', u'Raymond', 71, u'petit'),
 (u'Rabelais', u'Francois', 72, u'gros'),
 (u'Poe', u'Allan Edgard', 73, u'moyen'),
 (u'Rimbaud', u'Arthur', 74, u'petit'),
 (u'Racine', u'Jean', 76, u'gros'),
 (u'Rousseau', u'Jean-Jacques', 77, u'petit'),
 (u'Sandier', u'Jules', 78, u'moyen'),
 (u'Sade', u'Donatien Alphonse Fran\xbf\xbfs de', 79, u'gros'),
 (u'Sartre', u'Jean-Paul', 81, u'gros'),
 (u'Sophocle', None, 83, u'gros'),
 (u'Sue', u'Eugene', 84, u'moyen'),
 (u'Segalen', u'Victor', 85, u'petit'),
 (u'Saint Exupery', u'Antoine de', 86, u'gros'),
 (u'Segur', u'Comtesse de', 87, u'gros'),
 (u'Shakespeare', u'William', 88, u'petit'),
 (u'Stendhal', None, 89, u'petit'),
 (u'Vian', u'Boris', 90, u'petit'),
 (u'Verlaine', u'Paul', 91, u'gros'),
 (u'Virgile', None, 93, u'gros'),
 (u'Zorn', u'Fritz', 95, u'moyen'),
 (u'Maturin', u'Robert', 98, u'gros'),
 (u'Cesar', u'Jules', 99, u'gros'),
 (u'Ferreira', u'Remi', 101, u'moyen')]

__2.6__ Compare the content of _table_ 'RBA' and the _view_ 'buveurs_asec'. What differences do you see? Explain

In [47]:
%%sql 
SELECT * FROM RBA
EXCEPT
SELECT * FROM buveurs_asec

Done.

[(u'Ferreira', u'Remi', 101, u'moyen')]

Answer: As the View is pointing on Customer, and we added a new row in RBA, the row containing my name is not in the view. But is present in RBA.

___
# PART III: Design the database schema for posts in a Social Network

In this section you need to design the database schema for a social network app of a new startup:

The new social network will contain users, where each user will have a name, a nickname, an email, date of birth, and an address (Street, City, State, Country, Postal Code). Users can be friends of other users, and can publish posts. Each post can contain a text, date and attachment. Posts can be either original posts or replies so the app needs to handle both scenarios. When users log in, the app needs to display the posts of their friends.

__3.1__ Write and explain the design of the relations of your database

Answer:
First, We need to create a table User, It will be like:

User
---------
ID_User (Primary Key)
Name (Text)
Nickname (Text)
e-mail (Text)
birthdate (Datetime)
Street_adress (Text)
Postcode (Integer, Foreign Key from Table Adress)

To be accurate with the normal forms as the PostCode is dependant on the Country, State and City, we create a Table for the adress:

Adress
----------
PostCode (Primary Key)
City (Text)
State (Text)
Country (Text)

A User can have friends, so we create a Table Friends that will be like:

Friends
---------
ID_User (Foreign Key from User)
ID_Friend (Foreign Key from User)

On this social network we have Posts, so we create a table Post containing:

Post
--------
ID_Post (Primary Key)
Text (Text)
Date (Datetime)
Attachment (url?)

The USers can publish posts, so we create a Table Publish that will make the link between User and Post:
We also store here a boolean to know if the relation post/user is the original one. If the user is the first to have published this post

Publish
--------
ID_user (Foreign Key from User)
ID_post (Foreign Key from Post)
isOriginal (Boolean)

__3.2__ Write a view to retrieve the posts to display when a user logs in. Consider that some users may have a lot of friends and you need to limit the number of post to display. How would you select relevant posts to display first? What kind of information would you use/add in the database for this purpose? Explain your answer.

__Note:__ Limiting the number of posts just by count is too simplistic, the user could be missing something interesting to him/her.

Answer:
A view to show the top 50 posts for a user could be:
```sql
CREATE VIEW myview as
SELECT post.TEXT, post.Date, post.attachment FROM POST post
INNER JOIN Publish publish ON publish.ID_POST=post.ID_POST
INNER JOIN Friends friends ON friends.ID_friends=publish.ID_user
WHERE friends.ID_user=ID_myuser
ORDER BY post.DATE, publish.isOriginal desc
LIMIT 50
```

With this view we will have for "myuser" the TOP 50 posts ordered by Date and with a priority to original posts. These two variables are our criterias to order the posts.

Good things that could be added to the database for this purpose would be informations like the number of "likes/dislikes" or the number of times the post has been showed to users to show this posts more often than the others.

Another good practice could be to count how many times each of my friends post has been replied (even if my friend is replying it) and to show with more priority the posts with a huge amount of replies.

In [ ]:
%%sql
DROP TABLE IF EXISTS Location;
CREATE TABLE Location(
    LIEU TEXT PRIMARY KEY,
    REGION TEXT
);
INSERT INTO Location SELECT DISTINCT LIEU, REGION FROM Master2 WHERE LIEU NOT NULL;
SELECT * FROM Location LIMIT 20;